{% extends 'templates/base.html' %}

{% block title %}{{ self.post_title() }} - {{ super() }}{% endblock %}

{% block main %}
<article class="post">
    <header>
        <h1>
            <a href="{{ this.url }}">{% block post_title %}{% endblock %}</a></h1>
        <h2>{% block post_date %}{{ this.created_at.strftime('%Y-%m-%d %H:%M:%S') }}{% endblock %}</h2>
    </header>
    {% block post_body %}{% endblock %}
    <footer class="post">
        {% block post_footer %}
            -slapec
        {% endblock %}
    </footer>
</article>
{% endblock %}
