* {
    box-sizing: border-box;
}

a, a:visited {
    color: currentColor;
}

body {
    background: #1b2c2d;
    padding: 0;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header.site {
    background: #32abab;
    padding: 1.5em 1em;
    color: #fff;
}

header.site h1, header.site h2 {
    margin: 0;
    font-weight: normal;
}

header.site h1 {
    margin-bottom: 0.3em;
}

header.site h1 a {
    text-decoration: none;
}

header.site h2 {
    font-size: 1em;
}

main.site {
    background: #fff;
    padding: 1.5em 1em;
    flex-grow: 1;
}

footer.site {
    text-align: center;
    color: #fff;
}

article.post header {
    display: flex;
    align-items: center;
}

article.post header h1 {
    flex-grow: 1;
}

article.post header h2 {
    font-size: 1em;
    font-weight: normal;
}
